html, body {
    height: 100%;
    /*background-image: url("../images/background.jpg");*/
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 800px;
    margin: 2em auto 0;
    min-height: 70%;
    background-color: white;
    padding: 10px;
}

.table-button {
    height: 32px;
}

.icon {
    width: 23px;
    height: 23px;
}

.required-star {
    color: darkred;
    display: inline-block;
}

.input-container {
    margin-top: 20px;
}

.icon {
    width: 23px;
    height: 23px;
}

.table {
    margin: 20px;
}